
{{#each station}}
  <label class="label is-medium has-text-centered"><b>Add New Reading</b></label>
  <div class = "columns is-full">
    <form class="column is-2" action="/station/{{_id}}/autogeneratereading" method="POST">
      <label class="label "><b>Automatic:</b></label>
      <div class="field">   
        <button class="button is-danger is-centered">
          Add Auto Reading
        </button>
      </div>
    </form>
    <form class="column is-10" action="/station/{{_id}}/addreading" method="POST">
      <label class="label"><b>Manual Input:</b></label>
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <div class="control">
              <div class="select">
                <select class="input is-danger" name="code">
                  <option value="100">Clear</option>
                  <option value="200">Partial Clouds</option>
                  <option value="300">Cloudy</option>
                  <option value="400">Light Rain</option>
                  <option value="500">Heavy Shower</option>
                  <option value="600">Rain</option>
                  <option value="700">Snow</option>
                  <option value="800">Thunder</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <input class="input is-rounded is-info" type="number" min="-273.15" step="0.01" placeholder="Temperature (°C)" name="temperature" required>
          </div>
          <div class="field">
            <input class="input is-rounded is-success" type="number" min="0" step="0.01" placeholder="Wind Speed (km/h)" name="windspeed" required>
          </div>
          <div class="field">
            <input class="input is-rounded is-success" type="number" min="0" max="360" step="0.01" placeholder="Wind Direction (°)" name="winddirection" required>
          </div>
          <div class="field">
            <input class="input is-rounded is-warning" type="number" min="0" step="0.01" placeholder="Pressure (hPa)" name="pressure" required>
          </div>
        </div>    
        <button class="button is-link">
          Add Reading
        </button>
      </div>
    </form>
  </div>
{{/each}}