<br>
<form action="/dashboard/addstation" method="POST">
  <label class="label is-medium has-text-centered"><b>Add New Station</b></label><br>
  <div class="columns">
    <div class="column is-2">
    </div>
    <div class="column has-text-centered">
      <div class="field">
        <label class="label is-medium">Title</label>
        <div class="control">
          <input class="input is-rounded is-link" placeholder="Station Name" type="text" name="title" required>
        </div>
      </div>
    </div>
    <div class="column has-text-centered">
      <div class="field">
        <label class="label is-medium">Latitude</label>
        <div class="control">
          <input class="input is-rounded is-link" placeholder="90.00 to -90.00" type="number" min="-90" max="90" step="0.01" name="latitude" required>
        </div>
      </div>
    </div>
    <div class="column has-text-centered">
      <div class="field">
        <label class="label is-medium">Longitude</label>
        <div class="control">
          <input class="input is-rounded is-link" placeholder="180.00 to -180.00" type="number" min="-180" max="180" step="0.01" name="longitude" required>
        </div>
      </div>
    </div>
    <div class="column is-2">
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column is-narrow">
      <div class="field mt-4">
        <button class="button is-link">Add Station</button>
      </div>
    </div>
  </div>
</form>