{{#each stations}}

{{> data-overview}}
  <div class="columns">
    <div class="column is-5">
    </div>
    <div class="column">
      <a href="/station/{{_id}}" class="button is-large">
        {{> icons/open }}
      </a>
    </div>
    <div class="column">
      <a href="/dashboard/deletestation/{{_id}}" class="button is-large">
        {{> icons/bin }}
      </a>
    </div>
    <div class="column is-5">
    </div>
  </div>
{{/each}}