<nav class="navbar is-link">
  <div class="navbar-brand">
    {{> brand}}
    <div class="navbar-item">
      <a class="button is-tab is-large is-warning" href="/dashboard"> Weathertop </a>
    </div>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="dashboard" class="button" href="/dashboard"> Dashboard </a>
          <a id="about" class="button" href="/about"> About </a>
          <a id="accountdetails" class="button" href="/accountdetails">Account</a>
          <a id="logout" class="button" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.getElementById("{{active}}").classList.add("is-primary");
</script>