{{> menu active="about"}}

<div class="content box">
  <div class="columns is-centered">
    <div class="column is-narrow has-text-centered">
      <p class="title has-text-centered">
        About the WeatherTop App
      </p>
      <table class="table is-hoverable is-striped has-text-centered">
        <tbody>
        <tr>
          <td>
            Monitor latest weather station readings!
          </td>
        </tr>
        <tr>
          <td>
            Impress your friends!
          </td>
        </tr>
        <tr>
          <td>
            Woo your signficant other!
          </td>
        </tr>
        <tr>
          <td>
            Fall for blatant advertising lies!
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="column is-1">
    </div>
    <div class="column is-5">
      <section class="box has-background-warning-light">
        <figure class="image is-square">
          <img src="https://cdn.glitch.global/a954a553-344c-45c4-ab75-9002fdc69939/weather-instrument.jpg?v=1691579047920" alt="Weather instrument image">
        </figure>
      </section>
    </div>
  </div>
</div>