{{> welcome-menu}}

<div class="content box">
  <div class="columns is-centered">
    <div class="column is-4">
      <div class="box has-background-warning-light">
        <br>
        <p class="title is-info has-text-centered">
          Welcome to Weathertop 
        </p>
        <br>
        <p class="subtitle has-text-centered">
          Please Log In or Sign Up <br>using the menu buttons.
        </p>
      </div>
    </div>
    <div class="column is-1"></div>
    <div class="column is-5">
      <section class="box">
        <figure class="image is-square">
          <img src="https://cdn.glitch.global/a954a553-344c-45c4-ab75-9002fdc69939/weathertop-watch-tower.jpg?v=1691579046216" alt="weatherTop logo">
        </figure>
      </section>
    </div>
  </div>
</div>