{{> welcome-menu active="signup"}}

<section class="content box">
  <div class="columns is-centered">
    <div class="column is-3">
      <form action="/register" method="POST">
        <h1 class="subtitle has-text-centered">Register</h1>
        <br>
        <div class="field is-horizontal field-body">
          <div class="field">
            <label class="label is-medium">First Name:</label>
            <p class="control is-expanded">
              <input class="input" type="text" placeholder="John" name="firstname">
            </p>
          </div>
          <div class="field">
            <label class="label is-medium">Surname:</label>
            <p class="control">
              <input class="input" type="text" placeholder="Smith" name="surname">
            </p>
          </div>
        </div>
        <div class="field">
          <label class="label is-medium">Email:</label>
          <input class="input" placeholder="test@test.com" name="email">
        </div>
        <div class="field">
          <label class="label is-medium">Password:</label>
          <input class="input" placeholder="test" type="password" name="password">
        </div>
        <div class="column has-text-centered">
          <button class="button is-link is-info">Submit</button>
        </div>
      </form>
    </div>
    <div class="column is-1"></div>
    <div class="column is-5">
      <section class="box">
        <figure class="image is-square">
          <img src="https://cdn.glitch.global/a954a553-344c-45c4-ab75-9002fdc69939/weather2.jpg?v=1691579047407" alt="Road lined with trees, with fog in the distance">
        </figure>
      </section>
    </div>
  </div>
</section>